<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @girl.name %>
</p>
<%= image_tag @girl.photo.url(:small) %>
<p>
  <strong>Number:</strong>
  <%= @girl.number %>
</p>

<%= link_to 'Edit', edit_girl_path(@girl) %> |
<%= link_to 'Back', girls_path %>
